@import "reset.css";
.child {
    top: 139px;
    left: 186px;
    border-radius: var(--br-xl);
    background-color: var(--color-palegoldenrod);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 1131px;
    height: 447px;
  }
  .child,
  .item,
  .q2 {
    position: absolute;
  }
  .q2 {
    font-size: 43px;
    top: 163px;
    left: 211px;
    font-weight: 800;
    color: #193612;
  }
  .item {
    top: 233px;
    left: 151px;
    border-radius: var(--br-xl);
    background-color: var(--color-white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 1138px;
    height: 369px;
  }
  .span {
    color: var(--color-black);
  }
  .span1 {
    color: #f1ae00;
  }
  .p {
    margin-block-start: 0;
    margin-block-end: 30px;
  }
  .p1 {
    margin: 0;
  }
  .div1 {
    top: 344px;
    left: 322px;
    font-size: var(--font-size-29xl);
    font-weight: 800;
  }
  .div1,
  .div2,
  .div3 {
    position: absolute;
  }
  .div2 {
    top: 250px;
    left: 1248px;
    border-radius: 50%;
    background-color: var(--color-palegoldenrod);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    width: 27px;
    height: 29px;
  }
  .div3 {
    top: 945px;
  left: 1362px;
  font-size:37px;
  font-weight: 800;
  }
  .home-1-icon {
    position: absolute;
    top: 937px;
    left: 1300px;
    width: 51px;
    height: 51px;
    object-fit: cover;
  }
  .inner {
    position: absolute;
    top: 651px;
    left: 151px;
  }
  .child1,
  .inner,
  .rectangle-div {
    border-radius: var(--br-xl);
    background-color: var(--color-white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 556px;
    height: 158px;
  }
  .rectangle-div {
    position: absolute;
    top: 651px;
    left: 733px;
  }
  .child1 {
    top: 835px;
    left: 151px;
  }
  .child1,
  .child2,
  .div4 {
    position: absolute;
  }
  .child2 {
    top: 835px;
    left: 733px;
    border-radius: var(--br-xl);
    background-color: var(--color-palegoldenrod);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 556px;
    height: 158px;
  }
  .div4 {
    top: 905px;
    left: 1033px;
    font-weight: 800;
  }
  .div5 {
    top: 883px;
    left: 489px;
  }
  .div5,
  .div6,
  .div7 {
    position: absolute;
    font-weight: 800;
  }
  .div6 {
    top: 693px;
    left: 372px;
    display: inline-block;
    width: 373px;
  }
  .div7 {
    top: 701px;
    left: 951px;
  }
  .div8 {
    top: 708px;
    left: 790px;
  }
  .div10,
  .div11,
  .div8,
  .div9 {
    position: absolute;
    font-size: var(--font-size-21xl);
    font-weight: 800;
  }
  .div9 {
    top: 884px;
    left: 790px;
    color: red;
  }
  .div10,
  .div11 {
    top: 708px;
    left: 224px;
  }
  .div11 {
    top: 893px;
  }
  .span2 {
    font-size: 38px;
    top: 0;
    left: 30px;
    font-weight: 800;
    color: #193612;
  }
  .div12,
  .div13 {
    position: absolute;
  }
  .div12 {
    top: 0;
    left: 0;
    font-weight: 800;
  }
  .div13 {
    top: 30px;
    left: 102px;
    border-radius: 50%;
    background-color: #4d594a;
    width: 10px;
    height: 10px;
  }
  .icon,
  .parent {
    position: absolute;
    top: 15px;
    left: 89px;
    width: 17px;
    height: 17px;
  }
  .parent {
    top: 29px;
    left: 36px;
    width: 92px;
    height: 63px;
    font-size: 52px;
    color: #295f1c;
  }
  .div {
    position: relative;
    background-color: #81c370;
    width: 100%;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-13xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  