<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>또독</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main_ver2.css?afterfit ">
</head>

<body>
<div id="container1">
  <header id="header">
    <img src="../images/ttodokLogo2.png" height="70">
    <ul>
      <li id="first">또독이란?</li>
      <li>학습하기</li>
      <li>포인트 상점</li>
      <li id="last">로그인</li>
    </ul>
  </header>

  <section id="contents">
    <img src="/images/wordList_ver2.png" id="todayWordList" >
  </section>

  <aside id="sidebar">
    <img src="/images/loginBtn_ver2.png" id="loginBtn_ver2" height="150">
  </aside>

</div>




<div id="container2">
  <section id="book">
    <h1 id="book_text">재미있는 이야기가 가득!</h1>
    <ul>
      <li id="bookList1">
        <h2 id="bookNameNum1">엄지공주</h2>
        <img src="/images/book1.png">
      </li>
      <li id="bookList2">
        <h2 id="bookNameNum2">피노키오</h2>
        <img src="/images/book1.png"></li>
      <li id="bookList3">
        <h2 id="bookNameNum3">신데렐라</h2>
        <img src="/images/book1.png"></li>
      <li id="bookList4">
        <h2 id="bookNameNum4">개구리 왕자</h2>
        <img src="/images/book1.png"></li>
    </ul>

    <ul>
      <li id="bookList5">
        <h2 id="bookNameNum5">컵케이크</h2>
        <img src="/images/.png">
      </li>
      <li id="bookLis6">
        <h2 id="bookNameNum6">우주비행사</h2>
        <img src="/images/book1.png"></li>
      <li id="bookList7">
        <h2 id="bookNameNum7">나비의꿈</h2>
        <img src="/images/book1.png"></li>
      <li id="bookList8">
        <h2 id="bookNameNum8">흥부전</h2>
        <img src="/images/book1.png"></li>
    </ul>

    <button id="studyStartBtn" type="submit"> 학습하기 </button>

  </section>

  <section id="point_sotre">
    <h1 id="storeText">포인트로 상품을 구매할 수 있어요!</h1>
    <img src="/images/pointStoreVer2.png" id="pointStoreVer2" >

    <button id="storeGoBtn" type="submit"> 바로가기 </button>
  </section>

  <footer id="footer">
    <img src="/images/ttodokLogo3.png" id="footerLogo">
  </footer>

</div>



</body>
</html>