<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>또독</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/myPage.css">
</head>

<body>
<div id="container">

    <header id="header">
        <img src="images/joinlogo.png" height="70" width="100" >
    </header>


    <section id="contents">
        <img src="images/myPageImg.png" id="myPageImg" >
    </section>


    <aside id="sidebar">
        <ul id="list">
            <li id="loginBtn">
                <button id="myPageHomeBtn" type="submit" onclick="location.href='main_ver2.html';" > 홈화면 </button>
            </li>
            <li>
                <button id="withdrawalBtn" type="submit"> 탈퇴하기 </button>
            </li>
        </ul>
    </aside>


    <footer id="footer">
        <button type="submit" id="binkan"> 빈칸입니다 </button>
        <footer>


</div>
</div>
</body>
</html>