<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>또독</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/myPage.css">
</head>

<body>
<div id="container">

    <header id="header">
        <img src="images/joinlogo.png" height="70" width="100" >
    </header>


    <section id="contents">
        <img src="images/myPageImg.png" id="myPageImg" >
    </section>


    <aside id="sidebar">
        <ul>
            <li id="loginBtn">
                <button id="myPageHomeBtn" type="submit" onclick="redirectToMain()">돌아가기 </button>
            </li>
            <li>
                <button id="deleteMemberButton">탈퇴하기</button>
            </li>
        </ul>
    </aside>

    <script>


        const deleteMemberButton = document.getElementById("deleteMemberButton");
        function redirectToMain() {  //홈 화면으로 이동
            window.location.href = "main_ver2";
        }
        deleteMemberButton.addEventListener("click", () => {
            fetch("/members/{memberId}", {
                method: "DELETE",
            })
                .then(response => {
                    if (response.status === 200) {
                        // 회원 탈퇴 성공
                        alert("회원 탈퇴가 완료되었습니다.");
                        location.reload(); // 페이지 새로고침
                    } else {
                        // 회원 탈퇴 실패
                        alert("회원 탈퇴에 실패했습니다.");
                    }
                });
        });



    </script>


    <footer id="footer">
        <button type="submit" id="binkan"> 빈칸입니다 </button>
        </footer>



</div>
</div>
</body>
</html>