<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <script>
            //src="buy_gifticon.js"
            let userPoints = 100; //초기포인트


            window.onload = function () {
            document.getElementById("pointsDisplay").textContent = userPoints;
            } //초기포인트출력

        </script>
    <link rel="stylesheet" href="pointshop_home.css" /> <!--css스타일적용-->
    <title>또독-포인트상점</title>
</head>

<body style="background-color:#F0E39E;">
<header>
    <div class="member_links">
        <a href="/" class="link_text">회원가입</a>
        <a href="/" class="link_text">로그인</a>
        <a href="/" class="link_text">마이페이지</a>
    </div>
    <div>
        <img class="td_logo" src="C:\Users\2064_\Desktop\td_project\public\ttodokLogo.png"> <!--또독로고-->
    </div>
    <div class="ps_pagetitle">포인트 상점</div>
    <div class="total_point_box">
        <p>내 포인트 <span id="pointsDisplay">0</span>p</p>
    </div>
</header>

<div class="gifticon_list"> <!--기프티콘리스트묶음-->
    <div class="gifticon"> <!--기프티콘1-->
        <div class="gifticon_title">기프티콘1</div>
        <div>
            <img class="gifticon_img" src="C:\Users\2064_\Desktop\td_project\public\gftc_img.png" title="기프티콘1">
        </div>
        <div class="gifticon_price">500p</div>
        <button onclick="location.href='pointshop_buy.html'">구매하기</button> <!--기프티콘1구매페이지로이동-->
    </div>

    <div class="gifticon"> <!--기프티콘2-->
        <div class="gifticon_title">기프티콘2</div>
        <div>
            <img class="gifticon_img" src="C:\Users\2064_\Desktop\td_project\public\gftc_img.png" title="기프티콘2">
        </div>
        <div class="gifticon_price">300p</div>
        <button onclick="location.href='pointshop_buy.html'">구매하기</button>
        <!--<button onclick="addPoints(10)">10 포인트 획득</button>-->
    </div>

    <div class="gifticon"> <!--기프티콘3-->
        <div class="gifticon_title">기프티콘3</div>
        <div>
            <img class="gifticon_img" src="C:\Users\2064_\Desktop\td_project\public\gftc_img.png" title="기프티콘3">
        </div>
        <div class="gifticon_price">250p</div>
        <button onclick="location.href='pointshop_buy.html'">구매하기</button>
    </div>

    <div class="gifticon"> <!--기프티콘4-->
        <div class="gifticon_title">기프티콘4</div>
        <div>
            <img class="gifticon_img" src="C:\Users\2064_\Desktop\td_project\public\gftc_img.png" title="기프티콘4">
        </div>
        <div class="gifticon_price">100p</div>
        <button onclick="location.href='pointshop_buy.html'">구매하기</button>
    </div>
</div> <!--gifticon_list-->



<!--전체섹션-->
</body>
</html>