<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/textstudy.css" />
    <!--    <script>-->
    <!--      function speakText() {-->
    <!--            const text = document.getElementById("bookContent").value;-->
    <!--            const utterance = new SpeechSynthesisUtterance(text);-->
    <!--            window.speechSynthesis.speak(utterance);-->
    <!--        }-->
    <!--    </script>-->
    <title>textstudy</title>
    <script
            src="https://code.jquery.com/jquery-3.6.4.min.js">

    </script>
</head>
<body style="background-color:#81C370;">

<div class="textstudy-page" id="textstudy-page">

    <!--상단 메뉴(로고, 메뉴바)-->
    <header class="menu" id="menu">
        <div class="textstudy-logo" id="textstudy-logo">
            <a href="/mainPage">
                <img class="wordstudy-logo" src="../images/wordstudy_studylogo.png" />
            </a>
        </div>

        <div class="textstudy-menubar" id="textstudy-menubar">
            <a href="login.html">로그아웃&emsp;</a> <!--로그아웃 기능 추가-->
            <a href="/myPage">마이페이지&emsp;</a>
        </div>
    </header>

    <div class="textstudy-form" id="textstudy-form">

        <img class="wordstudy-rabbit" src="../images/rabbit.png" />

        <!--h1 제목 : 글을 소리내어 읽어보세요-->
        <div class="textstudy-gostudy">
            <h1 class="textstudy-letsstudy">글을 소리내어 읽어보세요!</h1>
            <!-- <img class="rabbit" src="../img/rabbit.png"/> -->
        </div>

        <!--학습하는 동화 제목 부분-->
        <div class="textstudy-title">
            <h3 class="textstudy-title"></h3>
        </div>

        <!--글 내용 보여주는 컨테이너-->
        <div id="text-container" class="text-container">
            <div class="text">
                <p class="text-content"></p>
            </div>
        </div>

        <!--다음단계 넘어가기 버튼-->
        <div class="textstudy-button" id="textstudy-button">
            <a href="/quizhome">
                <input class="textstudybutton" type="submit" value="다음 단계" id="textStudyButton"> <!--경로 설정 필요 퀴즈창으로-->
            </a>
        </div>

        <!--하단 뒤로가기, 홈으로 메뉴-->
        <div class="footmenu" id="footmenu">
            <!--뒤로가기-->
            <div class="textstudy-backbutton" id="textstudy-backbutton">
                <a href="/mainPage">뒤로가기</a>
            </div>

        </div>

    </div>

</div>

<script type="text/javascript" th:src="@{/js/textstudy.js}"></script>

</body>
</html>