<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="textstudy_css.css" />
    <title>또독-글학습</title>
</head>
<body style="background-color:#81C370;">
<header>
    <div class="member_links">
        <a href="/" class="link_text">회원가입</a>
        <a href="/" class="link_text">로그인</a>
        <a href="/" class="link_text">마이페이지</a>
    </div>
    <div class="ts_title">
        <h2>또독</h2> <!--나중에이미지로고삽입-->
        <h1 id="ts_pageTitle">글을 소리내어 읽어보세요!</h1>
        <h1 id="ts_bookTitle">나비의 꿈 - 방정환</h1> <!--bookTitle,bookAuthor-->
    </div>
</header>
<nav> <!--bookContent 글내용불러오기-->
    <h1>"에그? 어떻게 이런 곳으로 왔을까!" 하고, 나비는 이상해 했습니다.<br>
        그리고, 언뜻 보니까, 그 조그마한 집 뒤뜰에는 동백나무가 서 있고,<br>
        나무에는 빨간 동백꽃이 많이 피어 있으므로, 나비는 그 꽃 위에 앉아서 날개를 쉬고 있었습니다.<br>
        따뜻하게 볕만 퍼지고 동네도 조용하고, 이 조그만 집도 사람 없는 집같이 조용하였습니다.<br>
        그러더니, 이 빈 집같이 조용하던 집에서 나직하고 조심스런 소녀의 소리가 들리었습니다.<br>
        "얘 민수야, 약을 먹고 얼른 나아야 아니하니?<br>
        네가 이렇게 앓아 누워있기만 하면, 누나가 쓸쓸하지 않으냐?"<br>
        분명히 병든 동생의 머리맡에 앉아서 근심하는 소리였습니다.
    </h1>
</nav>

<footer>
    <button onclick="location.href='pointshop_buy.html'">다음 단계</button>
</footer>
</body>
</html>